{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "importOrder": [
    "^@mui/(.*)$",
    "^api/(.*)$",
    "^entity/(.*)$",
    "^constants/(.*)$",
    "^contracts/(.*)$",
    "^features/(.*)$",
    "^models/(.*)$",
    "^pages/(.*)$",
    "^typings/(.*)$",
    "^shared/lib(.*)$",
    "^shared/mocks(.*)$",
    "^shared/ui(.*)$",
    "^shared/enums(.*)$",
    "^shared/typings(.*)$",
    "^shared/constants(.*)$",
    "^assets/(.*)$",
    "^[./]"],
  "importOrderSeparation": true
}
